#displayList{
	min-height:150px;
	background-color:white; 
	margin-top:30px;
	padding:0px;
	padding-top: 10px; 
	padding-left:5px; 
	padding-right:5px;

	hr{
		margin-top:9px; 
		margin-bottom:5px;
	}

	ul{
		list-style-type:none; 
		margin:0px; 
		padding:0px; 
		font-size:13px; 
	}

	li{
		margin-left:5px; 
		margin-bottom:10px;
	}

	p{
		margin-bottom:2px; 
	}

}